.container{
    display: flex;
    flex-direction: row;
    height: 100px;
    background-color: #F4F4F4;
    border-radius: 15px;
    border: 1px solid orange;
    margin: auto;
    font-size: clamp(1rem, 5%, 2rem);
}

.container-banda{
    width: 35px;
    height: 100%;
    background-color: orange;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: start;
}

.container-info{
    flex: 1;
    padding: 8px;
    line-height: 1.4;
    text-align: left;
    align-items: center;
}

.container-info h5{
    font-weight: bold;
    color: black
}

.container-info p{
    color: grey;
}