.container{
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: #F4F4F4;
    border-radius: 15px;
    border: 1px solid orange;
    overflow: hidden;
    max-width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.container-banda{
    width: 30px;
    height: 100%;
    background-color: orange;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
}

.container-info{
    flex: 1;
    padding: 8px;
    line-height: 1.4;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%
}

.container-info h5{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
    color: black
}

.container-info p{
    color: grey;
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical
}