.about-us-container {
    background-image: url('/images/extras/area-deposito.PNG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 80px;
  }
  
  .about-us-content {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    border-radius: 10px;
    max-width: 80%;
    margin: auto;
  }
  
  .about-us-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about-us-content p {
    font-size: 1rem;
    line-height: 1.5;
  }
  